<div class="cardWrapper">
  <div class="mobileDetails">
    <div class="image">
      <img [src]="deviceData.imageUrl" alt="{{ deviceData.model }}" />
    </div>
    <div class="details">
      <h3 class="modelName">
        {{ deviceData.model }} <span>({{ deviceData.color }})</span>
      </h3>
      <div class="rating">{{ deviceData.ratings }}&#9734;</div>
      <div class="price">
        <div class="amount">{{ deviceData.price | currency }}</div>
        <button class="viewButton" (click)="display()">View</button>
      </div>
    </div>
  </div>
</div>
