<div class="wishlistWrapper">
  <div class="card" *ngFor="let product of products">
    <button class="close" (click)="remove(product.id)">&times;</button>
    <img [src]="product.imgPath" alt="{{ product.name }}" />
    <div class="priceDetail">
      <span class="price"> {{ product.price | currency: "Rs. " }}</span>
      <span class="oldPrice">{{ product.oldPrice | currency: "Rs. " }}</span>
      <span class="offer">({{ product.offer }})</span>
    </div>
    <div class="button">
      <p>MOVE TO BAG</p>
    </div>
  </div>
</div>

<div class="noItem" *ngIf="!products.length">
    <h2>Add some Items to Your Wishlist</h2>
</div>