<div class="mainwrapper">
  <app-data-handel></app-data-handel>
  <app-header></app-header>
  <div class="filterWrapper">
    <h5>Filter Items</h5>
    <input type="text" [(ngModel)]="data" placeholder="Search Item">
    <button type="button" (click)="onsearch()">{{search? 'Cancel': 'Search'}}</button>
    <p *ngIf="search && data.length < 2" class="caution">Please Enter More Characters</p>
  </div>
  <app-count></app-count>
  <p *ngIf="searchCount==0">No Cards</p>
  <div class="cardContainer">
    <app-mobile-card
        *ngFor="let device of devices | filter:data:search"
        [mobileData] = device
    ></app-mobile-card>
  </div>
</div>
