.mainwrapper{
    max-width: 900px;
    margin: 0 auto;
}

.cardContainer{
    display: grid;
    grid-template-columns: auto auto;
}

.nocards{
    font-size: 20px;
    margin-left: 10px;
}

.filterWrapper{
    position: absolute;
    right: 0;
    top: 60px;
    margin-right: 10px;
}

.filterWrapper.h5{
    margin: 5px 0;
}

button{
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.caution{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}