.navbar{
    background-color: rgb(78, 77, 76);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li{
    padding: 15px;
    margin: 0 10px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.navbar ul li a:hover{
    font-weight: bolder;
}

.active{
   border-bottom: 3px solid white;
   font-weight: bolder;
}

h1{
    color: white;
    cursor: pointer;
}