<nav class="navbar">
  <h1><a routerLink="/" title="Mobile Store">Mobile Store</a></h1>
  <ul>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
    >
      <a routerLink="/cards" title="Home">Home</a>
    </li>
    <li
      routerLinkActive="active"
    >
      <a routerLink="/addmobile" title="Add New Mobile">Add Mobile</a>
    </li>
    <li
      routerLinkActive="active"
    >
      <a routerLink="/newWindow" title="New Window">New Window</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

