<div class="topicWrapper">
    <img 
        class="img"
        [src]="mobiledata.imageUrl" 
        alt="{{ mobiledata.name }}"
    >
    <label class="model">{{ mobiledata.model | uppercase }}</label>
    <label class="modelNumber">{{ mobiledata.modelNumber }}</label>
    <label class="price">{{ mobiledata.price | currency }}</label>
    <label class="color">{{ mobiledata.color }}</label>
    <label class="ram">{{ mobiledata.ram }}</label>
    <label class="rom">{{ mobiledata.rom }}</label>
    <label class="camera">{{ mobiledata.camera }}</label>
    <label class="battery">{{ mobiledata.battery }}</label>
    <label class="rating">{{ mobiledata.ratings }}</label>
    <label class="processor">{{ mobiledata.processor }}</label>
    <label class="screenSize">{{ mobiledata.screenSize }}</label>
    <label class="date">{{ mobiledata.dateOfRelease }}</label>
    <label class="simType">{{ mobiledata.simType }}</label>
    <label class="otgCompatible">{{ mobiledata.otg_Compatible }}</label>

</div>