<form class="filterWrapper" (ngSubmit)="onSearch()" autocomplete="off">
    <h5>Search Items</h5>
    <input type="text" [(ngModel)]="data" placeholder="Search Item" #searchBar name="input">
    <button type="submit">{{filter? 'Cancel': 'Search'}}</button>
    <p *ngIf="filter && data.length < 2" class="caution">Please Enter More Characters</p>
  </form>

<div class="mobileWrapper">
    <div *ngFor="let array of devices; let i = index" class="Brands">
        <h2 class="brandName"> {{ brandNames[i] }} Section</h2>
        <div class="mobileArray">
            <app-card
                *ngFor=" let mobile of array | filter:data:filter "
                [deviceData] = mobile
                class="mobileCard"
            ></app-card>
        </div>
    </div>
</div>

<app-display-card *ngIf="show"></app-display-card>