.Brands{
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.315);
}

.brandName{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.mobileArray{
    margin-top: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}

.mobileCard{
    display: flex;
}

.filterWrapper{
    position: absolute;
    right: 0;
    top: 60px;
    margin-right: 10px;
}

.filterWrapper.h5{
    margin: 5px 0;
}

.filterWrapper button{
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.caution{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.startCompare{
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #337AB7;
    color: white;
    margin-left: 10px;
    position:fixed;
    top: 100px;
    right: 20px;
}